# Go build artifacts
kosync.exe

# IntelliJ IDEA
.idea/
*.iml

# Database file (contains user data)
database.json

# Database, Config and Log files
kosync*.db
kosync.env
kosync.log

# Local docker files
.docker

# Go vendor
vendor/

# JetBrains Junie
.junie/memory
